@model eDescargas.Models.transaccione

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Details</h2>

<div>
    <h4>transaccione</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.fecha_transaccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_transaccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.metodo_pago)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.metodo_pago)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto_compra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto_compra)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_consecutivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_consecutivo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
