@model IEnumerable<eDescargas.Models.transaccione>

@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/_ViewStart.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fecha_transaccion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.metodo_pago)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.monto_compra)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_consecutivo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_transaccion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.metodo_pago)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.monto_compra)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_consecutivo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
